<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="blog-page">
      <div class="blog-head"><%- include('partials/navbar') -%></div>

      <aside>
        <div class="blog-title">
          <h1><%=blog.title %></h1>
          <div>
            <% blog.blog.forEach(element => { %>
            <div class="blog-items">
              <div class="blog-titles"><%=element.title %></div>
              <div class="blog-date">
                <%=element.date %> | <%=element.skill %>
              </div>
              <div class="blog-desc"><%=element.desc %></div>
            </div>
            <% }) %>
          </div>
        </div>
      </aside>
      <!-- footer -->
      <footer><%- include('partials/footer') -%></footer>
    </div>
  </body>
</html>
