<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title><%= home.title %></title>
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <%- include('partials/navbar') -%>
      <header>
        <div class="user-info">
          <div class="user-left">
            <h1>
              Hi, I am John, <br />
              Creative Technologist
            </h1>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <button>Download Resume</button>
          </div>
          <div class="user-right">
            <img src="/image/user.png" alt="user" />
          </div>
        </div>
      </header>

      <!-- aside  -->
      <aside>
        <div class="post">
          <div class="post-top">
            <p>Recent posts</p>
            <p>View all</p>
          </div>
          <div class="post-bottom">
            <% home.posts.forEach(element => { %>
            <div class="post-box">
              <div class="post-title"><%= element.title %></div>
              <div class="post-date">
                <%= element.date %> | <%= element.skill %>
              </div>
              <div class="post-desc"><%= element.desc %></div>
            </div>

            <% }) %>
          </div>
        </div>
        <div class="featured-works">
          <p>Featured works</p>

          <div class="featured-items">
            <% home.featWorks.forEach(element => { %>
            <div class="featured-left">
              <div><img src="<%=element.src %>" /></div>
              <div class="featured-right">
                <div class="featured-title"><%=element.title %></div>
                <div class="date">
                  <div class="featured-date"><%=element.date %></div>
                  <div class="featured-text"><%=element.text %></div>
                </div>
                <div class="featured-desc"><%=element.desc %></div>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
      </aside>

      <!-- footer -->
      <footer><%- include('partials/footer') -%></footer>
    </div>
  </body>
</html>
